/*styling.css*/
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;}
*{
    box-sizing: border-box;}
#container {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;}
#header{
    height: 80px;
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(images/OpenLaw_Header_Background.jpg);
    background-size: cover;}
#brand{
    flex: 70%;
    padding-left: 20px;
    padding-top: 10px;}

h1 {
    padding-left: 90px;
    font-size: 10px;
    font-weight: 100;
    color: white;
    text-decoration: none;}
.text{
    float: left;
    width: 100px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    background: white;}
#nav_box{
    background-image: url(images/OpenLaw_Tab_Background.jpg);
    background-size: cover;}
#menu_text{
    display: flex;
    flex-wrap: wrap;}
#menu_text p{
    padding-left: 100px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    width: 75%;}
#menu{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;}
#menu a{
    padding: 10px 20px;
    border-right: 3px solid white;
    border-top: 4px solid lightgray;
    background-color: lightgray;
    opacity: 70%;
    text-decoration: none;
    font-size: 27px;
    color: #225160;
    width: 33%;}

#menu a:last-child{
    border-right: none;}

#menu a:hover, #menu a.active{
    color: darkgreen;
    background-color: white;
    opacity: inherit;
    border-top: 4px solid #CF9768;}

/*small screens: vertical menu*/
@media screen and (max-width: 700px){
    #menu{
        flex-direction: column;
        align-content: center;}
    #menu a{
        border-right: none;
        width: 70%;}
        }
.introduction{
    background-color: white;
    display: flex;
    padding: 30px;}

#intro_text p{
    width: 80%;
    font-size: 15px;
    color: #424242;}
#intro_image{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;}

#overview{
    background-color: white;
    padding: 10px;
    border-collapse: collapse;}
table {
    border-collapse: collapse;}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid black;
    table-layout: fixed;
    overflow: hidden;}

td {
    vertical-align: top;}

tr:hover {background-color:#f5f5f5;}

.row_headings{
    text-align: center;
    font-size: 15px;}

.col02{
    width: 40%;}

.footer{
    height: 197px;
    color: white;
    background-color: #2e6266;
    padding: 10px 30px;
    margin-top: auto;}

.footer_left {
    width: 45%;
    float:left;
    font-size: 16px;
    text-decoration: none;
    padding-top: 30px;}

.footer_right{
    width: 45%;
    float:right;
    font-size: 16px;
    text-align: end;
    line-height: 0;
    padding-top: 35px;}
